<h1>Pictures</h1>

<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
   <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
<% end %>

<h1>Most Recent Pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<h1>From Last Month</h1>
  <ul>
    <% @older_than_one_month.each do |picture| %>
      <li><%= picture.title %></li>
    <% end %>
  </ul>

<h1>Pictures Arranged by Year:</h1>
<h2>2017</h2>
<%= year = 2017 %>
  <ul>
    <% @pictures_created_in_year.each do |picture| %>
      <li><%= picture.title %></li>
    <% end %>
  </ul>
